# Database
DATABASE_URL=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
DATABASE_AUTH_TOKEN=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

# Authentication
BETTER_AUTH_SECRET=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
BETTER_AUTH_URL=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

# Github OAuth
GITHUB_CLIENT_ID=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
GITHUB_CLIENT_SECRET=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

# Google OAuth
GOOGLE_CLIENT_ID=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
GOOGLE_CLIENT_SECRET=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX


